.leaderboard {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 20rem;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }