.sneaky {
    background: url('/assets/WAM_Hole.png');
}

.ready_to_wack {
    background: url('/assets/WAM_Mole.png');
    cursor: pointer;
}

.mole{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50%;
}